<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taiji.erp.base.mapper.BaseVendorMapper">

    <resultMap id="baseVendorMap" type="com.taiji.erp.base.api.entity.BaseVendor">
        <id property="id" column="id"/>
        <result property="linkPerson" column="link_person"/>
        <result property="linkPhone" column="link_phone"/>
        <result property="taxCode" column="tax_code"/>
        <result property="priority" column="priority"/>
        <result property="chargePerson" column="charge_person"/>
        <result property="chargePhone" column="charge_phone"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="address" column="address"/>
        <result property="vendorDesc" column="vendor_desc"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createDate" column="create_date"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateUserId" column="update_user_id"/>
    </resultMap>

    <update id="updatePriority">
        update base_vendor
        <choose>
            <when test="source==null">
                set priority=priority+1 where priority>=${target}
            </when>
            <when test="target==null">
                set priority=priority-1 where priority>${source}
            </when>
            <otherwise>
                set priority=priority-1 where priority>${source} and priority <![CDATA[<=]]> #{target}
            </otherwise>
        </choose>
    </update>
</mapper>
