<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taiji.erp.base.mapper.BasePrintPriceMapper">

    <resultMap id="basePrintPriceMap" type="com.taiji.erp.base.api.entity.BasePrintPrice">
        <id property="id" column="id"/>
        <result property="newspaperId" column="newspaper_id"/>
        <result property="ydId" column="yd_id"/>
        <result property="publishMonth" column="publish_month"/>
        <result property="priceHb" column="price_hb"/>
        <result property="priceTs" column="price_ts"/>
        <result property="priceDc" column="price_dc"/>
        <result property="priceSc" column="price_sc"/>
        <result property="priceQq" column="price_qq"/>
        <result property="priceState" column="price_state"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createDate" column="create_date"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateUserId" column="update_user_id"/>
    </resultMap>

    <resultMap id="basePrintPriceVoMap" type="com.taiji.erp.base.api.vo.BasePrintPriceVo">
        <id property="id" column="id"/>
        <result property="newspaperId" column="newspaper_id"/>
        <result property="ydId" column="yd_id"/>
        <result property="publishMonth" column="publish_month"/>
        <result property="priceHb" column="price_hb"/>
        <result property="priceTs" column="price_ts"/>
        <result property="priceDc" column="price_dc"/>
        <result property="priceSc" column="price_sc"/>
        <result property="priceQq" column="price_qq"/>
        <result property="priceState" column="price_state"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="newspaperName" column="newspaper_name"/>
    </resultMap>

    <select id="search" resultType="com.taiji.erp.base.api.vo.BasePrintPriceVo">
        select count(1) as total,bpp.*,bn.newspaper_name
        from base_print_price bpp
        left join base_newspaper bn
        on bpp.newspaper_id=bn.id
        where bpp.delete_flag=0
        <if test="vo.newspaperName!=null and vo.newspaperName!=''">
            <bind name="newspaperName" value="'%'+vo.newspaperName+'%'"/>
            and bn.newspaper_name like #{newspaperName}
        </if>
        <if test="vo.startMonth!=null and vo.startMonth!=''">
            and cast(#{vo.startMonth} as UNSIGNED) &lt;= cast(bpp.publish_month as unsigned)
        </if>
        <if test="vo.endMonth!=null and vo.endMonth !=''">
            and cast(#{vo.endMonth} as unsigned) >= cast(bpp.publish_month as unsigned)
        </if>
    </select>
</mapper>
