<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taiji.erp.base.mapper.BasePostOfficeMapper">

    <resultMap id="basePostOfficeMap" type="com.taiji.erp.base.api.entity.BasePostOffice">
        <id property="id" column="id"/>
        <result property="postOfficeCode" column="post_office_code"/>
        <result property="postOfficeName" column="post_office_name"/>
        <result property="linkPerson" column="link_person"/>
        <result property="linkPhone" column="link_phone"/>
        <result property="locationAreaId" column="location_area_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="receiveTime" column="receive_time"/>
        <result property="postOfficeType" column="post_office_type"/>
        <result property="priority" column="priority"/>
        <result property="state" column="state"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createDate" column="create_date"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateUserId" column="update_user_id"/>
    </resultMap>



    <update id="updatePriority">
        update base_post_office
        <choose>
            <when test="source==null">
                set priority=priority+1 where priority>=${target}
            </when>
            <when test="target==null">
                set priority=priority-1 where priority>${source}
            </when>
            <otherwise>
                set priority=priority-1 where priority>${source} and priority <![CDATA[<=]]> #{target}
            </otherwise>
        </choose>
    </update>
</mapper>
