<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taiji.erp.base.mapper.BaseBigareaMapper">

    <resultMap id="baseBigareaMap" type="com.taiji.erp.base.api.entity.BaseBigarea">
        <id property="id" column="id"/>
        <result property="bigareaCode" column="bigarea_code"/>
        <result property="bigareaName" column="bigarea_name"/>
        <result property="priority" column="priority"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createDate" column="create_date"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateDate" column="update_date"/>
        <result property="updateUserId" column="update_user_id"/>
    </resultMap>



    <update id="updatePriority">
        update base_bigarea
        <choose>
            <when test="source ==null">
                set priority=priority+1 where priority>=${target}
            </when>
            <when test="target==null">
                set priority=priority-1 where priority>${source}
            </when>
            <otherwise>
                set priority=priority-1 where priority>${source} and priority <![CDATA[<=]]> #{target}
            </otherwise>
        </choose>
    </update>
</mapper>
